body {
    padding: 0px;
    margin: 0px;
}
.black-line {
    width: 100vw;
    height: 7vh;
    background-color: black;
}
.container p {
    color: whitesmoke;
    display: flex;
    font-size: large;
    font-weight: 50px;
    float: right;
    padding-right: 5px;
}
.welcome-Mike {
    display: flex;
    /* justify-content: flex-start; */
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width:20vw;
    height: 35vh;
    background-color: #ffffffff;
    border: 1px #EEEEEE solid;
}
.welcome-Mike img {
    
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* padding-left: 20px;
    padding-top: 20px; */
}
.welcome-Mike p {
    font-size: medium;
    font-weight:50px ;
    color: black;

    /* text-align: center; */
}